nav {
  background: #444;
  margin: 0;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: rgb(255, 255, 255);
  background: rgb(108, 108, 108);
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: underline;
}

nav ul li a:hover {
  background: #335599
}

.headshot {
  display: block;
  height: 300px;
  width: 400px;
  margin: 0 auto;
}

p {
  text-align: center;
}

.footer {
  font-size: 12px;
  background: #444;
  color: white;
}